<dx-form [colCount]="2">
  <dxi-item name="base" itemType="group" caption="System Information">
    <dxi-item dataField="type" editorType="dxSelectBox"
              [editorOptions]="{ items: types, onSelectionChanged: onTypeChanged }">
      <dxi-validation-rule type="required" message="Position is required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item name="tags" dataField="Tags" editorType="dxTagBox"
              [editorOptions]="{ items: positions }"
    ></dxi-item>
    <dxi-item dataField="OfficeNo"></dxi-item>
  </dxi-item>
</dx-form>
